<li>
  <h2 class="govuk-heading-m">
    <%= link_to supplier.name, management_consultancy_rm6309_supplier_path(id: supplier.id, lot: params[:lot]), class: "govuk-!-font-size-20 ccs-no-underline" %>
    <% if supplier.sme? %>
      <%= govuk_tag(t('sme'), 'grey', classes: 'ccs-tag') %>
    <% end %>
  </h2>
</li>
