<li>
  <h2 class="govuk-heading-m">
    <%= link_to supplier_framework.supplier_name, legal_services_supplier_path(supplier_framework), class: 'govuk-link ccs-no-underline' %>
    <% if supplier_framework.supplier.sme %>
      <%= govuk_tag(t('sme'), 'grey', classes: 'ccs-tag') %>
    <% end %>
  </h2>
</li>
