:not(.govuk-tabs__panel) > .ccs-suppliers-comparison-container {
  @include govuk-responsive-margin(0, 'bottom');
  padding: govuk-spacing(4);
  border: 1px solid $govuk-border-colour;
  margin-bottom: 0;
}

.ccs-suppliers-comparison-overflow-container {
  overflow-x: auto;
}

.ccs-suppliers-comparison-table {
  @include govuk-font-size($size: 16);

  border-collapse: separate;

  thead > tr > th {
    vertical-align: bottom;
  }

  thead > tr > th:nth-child(1), tbody > tr > th:nth-child(1) {
    border-right: 1px solid $govuk-border-colour;

    @media #{govuk-from-breakpoint(tablet)} {
      position: sticky;
      left: 0;
      background-color: $govuk-body-background-colour;
    }
  }

  thead > tr > th:nth-child(2), tbody > tr > td:nth-child(2) {
    padding-left: govuk-spacing(2);
  }

  .govuk-tag {
    @include govuk-font-size($size: 16);
  }
}
