<%= content_for :page_title, t(".heading") %>
<div class="govuk-body">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <%= t(".heading") %>
      </h1>

      <p>
        <%= govuk_button_start(t('shared.gateway.sign_in_with_cognito'), local_session_path, class: 'govuk-!-margin-top-2 govuk-!-margin-bottom-8', aria: { label: t('shared.gateway.sign_in_with_cognito') }) %>
      </p>
    </div>
  </div>
</div>

