.ccs-sidebar {
	border: 1px ccs-colour("light-green") solid;
  border-top: govuk-spacing(1) ccs-colour("light-green") solid;
	padding: 25px;
}

.ccs-sidebar__body--neutral {
	font-size: 16px;
	font-weight: 400;
}

.ccs-sidebar__list-item {
	font-size: 16px;
}

@media print {
	.ccs-sidebar a[href]:after { 
		content: none !important; 
	}
}
