<div class="ccs-suppliers-comparison-container">
  <%= govuk_table(
    [
      {
        text: t('.supplier'),
      },
    ] + positions.map do |_position_id, position_name|
      {
        text: t("legal_panel_for_government.rm6360.suppliers.rates_table.job_titles.#{position_name}"),
      }
    end,
    @supplier_frameworks.map do |supplier_framework, rates|
      [
        {
          text: supplier_framework.supplier_name,
        }
      ] + positions.map  do |position_id, _position_name|
        {
          text: display_rate(position_id, jurisdiction_id, rates)
        }
      end
    end,
    caption: {
      text: t('.rates'),
      classes: 'govuk-visually-hidden'
    },
    first_cell_is_header: true,
    classes: 'ccs-suppliers-comparison-table'
  ) %>
</div>
