.ccs-info-panel {
  border: 1px ccs-colour("light-green") solid;
  border-top: govuk-spacing(1) ccs-colour("light-green") solid;
  padding: govuk-spacing(3);

  @include govuk-media-query($from: tablet) {
    &.ccs-info-panel--pull-up {
      margin-top: -#{govuk-spacing(4)} !important;
    }
  }

  dl.ccs-contact-details {
    margin-bottom: govuk-spacing(0);

    dt,
    dd {
      width: 100%;
      display: inline-block;
      margin: 0;
    }

    dt {
      padding-bottom: govuk-spacing(0);
    }

    dd {
      padding-top: govuk-spacing(0);
    }
  }
}
