<% @supplier_framework_lot_branches.each do |branch| %>
  <div class="govuk-grid-row supplier-lot-data--lots">
    <div class="govuk-grid-column-three-quarters">
      <%= govuk_summary_list(
        [
          {
            key: {
              text: t('supply_teachers.suppliers.show.branch_name')
            },
            value: {
              text: capture do
                concat("#{branch.name} - ")
                concat(tag.br)
                concat(branch.region)
              end
            }
          },
          {
            key: {
              text: t('supply_teachers.suppliers.show.contact_name')
            },
            value: {
              text: branch.contact_name
            }
          },
          {
            key: {
              text: t('supply_teachers.suppliers.show.contact_email')
            },
            value: {
              text: mail_to(branch.contact_email, branch.contact_email, aria: { label: "Email #{branch.contact_name} from #{branch.name}" })
            }
          },
          {
            key: {
              text: t('supply_teachers.suppliers.show.phone_number')
            },
            value: {
              text: format_telephone_number(branch.telephone_number)
            }
          },
          {
            key: {
              text: t('supply_teachers.suppliers.show.address')
            },
            value: {
              text: tag.ul(class: 'govuk-list') do
                      branch.address_elements.each do |address_element|
                        concat(tag.li(address_element))
                      end
                    end
            }
          }
        ],
        card: {
          title: {
            text: "#{branch.name} - #{branch.region}"
          },
          actions: {
            items: if Marketplace.environment_name != :production
                     [
                       {
                         href: supplier_lot_data_edit_path(@supplier_framework, @lot.number_as_slug, @section, branch_id: branch.id),
                         text: "Change"
                       }
                     ]
                   else
                     []
                   end
          }
        },
        attributes: {
          id: "sagency-branches"
        }
      ) %>
    </div>
  </div>
<% end %>
