<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-margin-top-7 govuk-!-margin-bottom-7">
    <%= render partial: 'supply_teachers/rm6238/shared/rates_table', locals: { grouped_rates: branch.supplier.rates_grouped_by_job_type } %>
  </div>
</div>
