<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-margin-top-7 govuk-!-margin-bottom-7">
    <%= render partial: 'supply_teachers/rm6238/shared/rates_table', locals: { grouped_rates: branch.supplier_framework_lot.supplier_framework.grouped_rates_for_lot('RM6238.1') } %>
  </div>
</div>
