<li>
  <h2 class="govuk-heading-m">
    <%= render partial: 'legal_panel_for_government/rm6360/suppliers/supplier_table_head', locals: { supplier_framework:, lot:, include_link: false } %>
  </h2>
</li>
