<%= content_for :page_title, t('.page_title') %>
<%= content_for :page_section, t('supply_teachers.rm6376.page_section') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t('.question') %></h1>
  </div>
</div>
