<h2 class="govuk-heading-m govuk-!-margin-bottom-1"><%= t('.rates') %></h2>
<p class="govuk-body">
  <%= t('.fixed_until') %>
</p>
<p class="govuk-body"><%= t('.further_competition') %></p>
<%= govuk_table(
  *rates_table_headers_and_rows(@rates),
  caption: {
    text: t('.rates'),
    classes: 'govuk-visually-hidden'
  },
  first_cell_is_header: true,
  classes: 'ccs-rates-table'
) %>

