<h2 class="govuk-heading-m govuk-!-margin-bottom-1"><%= t('.rates') %></h2>
<p class="govuk-body">
  <%= t('.fixed_until') %>
</p>
<p class="govuk-body"><%= t('.further_competition') %></p>
<%= govuk_table(
  [
    {
      text: t('.position'),
      classes: 'govuk-!-width-three-quarters'
    },
    {
      text: t('.hourly'),
      classes: 'govuk-!-width-one-quarter'
    }
  ],
  Position.where(id: legal_service_position_ids).order(:id).map do |position|
    rate = display_rate(position.id)

    next if rate.nil?

    [
      {
        text: position.position
      },
      {
        text: rate
      }
    ]
  end.compact,
  caption: {
    text: t('.rates'),
    classes: 'govuk-visually-hidden'
  },
  first_cell_is_header: true,
  classes: 'ccs-rates-table'
) %>

