<h2 class="govuk-heading-m govuk-!-margin-bottom-1"><%= t('.rates') %></h2>
<p class="govuk-body">
  <%= t('.fixed_until') %>
</p>
<p class="govuk-body"><%= t('.further_competition') %></p>
<%= govuk_table(
  [
    {
      text: t('.position'),
      classes: 'govuk-!-width-one-half'
    },
    {
      text: t('.hourly')
    }
  ],
  LegalServices::RM6240::Position.all.sort_by(&:code).map do |position|
    rate = display_rate(position.code)

    next if rate.nil?

    [
      {
        text: position.name,
        classes: 'govuk-!-width-one-half'
      },
      {
        text: rate
      }
    ]
  end.compact,
  caption: {
    text: t('.rates'),
    classes: 'govuk-visually-hidden'
  },
  first_cell_is_header: true
) %>

