<div class="govuk-width-container">
  <%= govuk_phase_banner(
    {
      text: t('layouts.application.beta')
    },
    t('layouts.application.feedback_end_journey_html', link: Marketplace.st_survey_link)
  ) %>
</div>